

<div class="inbox-page-wrapper">
<div class="inbox-container" cdkDropListGroup>
  
  @for (grupo of grupos; track grupo.id) {
    <div class="inbox-column">
      <div class="column-header">
        
        @if (grupo.id !== 'prospectos') {
          <button (click)="eliminarColumna(grupo.id)" class="delete-column-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
          </button>
        }
        
        <h3>{{ grupo.titulo }}</h3>
        
        <span class="count">{{ grupo.prospectos.length }}</span>
      </div>

      <div
        class="card-list"
        cdkDropList
        [cdkDropListData]="grupo.prospectos"
        (cdkDropListDropped)="drop($event)">

        @for (prospecto of grupo.prospectos; track prospecto.nombre) {
          <div class="prospect-card" cdkDrag (click)="abrirChat(prospecto)">
            <app-prospect-card [prospecto]="prospecto"></app-prospect-card>
            <div class="prospect-card-placeholder" *cdkDragPlaceholder></div>
          </div>
        } </div>
        
    </div>
  } <div class="add-column-container">
    <button (click)="agregarColumna()" class="add-column-floating-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
  </button>
  </div></div>
</div>