$navbar-height: 78px;
$sidebar-width: 80px;

.sidebar-container {
  width: $sidebar-width;
  height: calc(100vh - $navbar-height); 
  position: fixed;
  top: $navbar-height; 
  left: 0;
  background-color: #f5fafe; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  padding: 25px 0;
  box-sizing: border-box; 
  box-shadow: 0 2px 4px 0 #DBDBDB;
}

.sidebar-top,
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}

.sidebar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%; 
  color: #333; 
  cursor: pointer;
  position: relative; 
  z-index: 1;         
  transition: color 0.3s ease; 

  &:hover {
    background-color: #F8F8FF; 
  }

  &.active {
    background-color: #E6E6FA;
    color: #6a5acd; 
    &::before {
      transform: scale(1);
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #E6E6FA;
    border-radius: 50%;
    
    transform: scale(0); 
    transition: transform 0.3s ease;
    z-index: -1;
  }
}

.sidebar-link svg {
  width: 24px;
  height: 24px;
}